.photo-grid {
    max-width: 1184px;
    display: grid;
    padding: 0 48px 92px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    column-gap: 16px;
}

@media screen and (max-width: 1024px){
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}