.places {
    max-width: 984px;
    padding: 0 148px 0px;
    display: grid;
    gap: 80px;
}

@media screen and (max-width: 1024px) {
    .places {
        padding-left: 48px;
        max-width: 928px;
        padding: 0 48px 0px;
    }
    
}