.place__paragraph {
    font-size: 18px;
    line-height: 1.63;
    margin: 0;
    margin-top: 26px;
}

.place__paragraph:first-child{
    margin: 0;
}

@media screen and (max-width:768px) {
    .place__paragraph {
        font-size: 16px;
        margin-top: 24px;
    }
    
}
