.cover {
    position: relative;
    max-width: calc(100% - 96px);
    min-height: min(740px, calc(100vw * 5 / 8));
    padding-top: 92px;
    display: flex;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100vw;
        max-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        height: 480px;
        max-width: 100vw;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        height: 200px;
        padding-top: 61px;
        max-width: 100vw;
    }
}