.place__url-heading {
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 12px;
    padding: 0;
    text-transform: uppercase;
    color: #aaa;
    
}